body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  background-size: 53px 53px;
  background-image: radial-gradient(
    transparent 28px,
    #ffffff 28px,
    #ffffff 32px,
    transparent 32px
  );
}

main {
  padding: 36px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #D7EDFF 1.18%, #1aa3fd 100%);
  color: white;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-logo {
  height:100%;
  margin-right: 6px;
}

.header--title {
  font-size: 20px;
  margin-right: auto;
}

.header--project {
  font-size: 12px;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.form-input {
   border-radius: 5px;
   border: 1px solid #D5D4D8;
   text-indent: 5px;
   cursor: pointer;
}

.form-button {
  grid-column: 1/3;
  border-radius: 5px;
  background: linear-gradient(90deg, #D7EDFF 1.18%, #1aa3fd 100%);
  color: white;
  border: none;
  cursor: pointer;
}
